/venv/
/.idea/
/data/
/node_modules/
/public/
/.env
/api/melanomaModel/data/
/api/melanomaModel/__pycache__/
*/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
