@import "../styles/variables";

#charts {
    width: 100%;
    margin-bottom: 40px;
    & > .chart-block {
        flex: 1 1 100%;
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        column-gap: 10px;
    }
    .chart {
        flex: 1 0 50%;
        border: 1px solid darken($main-color, 5%);
        box-shadow: $primary-box-shadow;
    }
}