
@import "../styles/variables";

.diagnostic-forms {
    display: flex;
    min-height: 250px;
    gap: 10px;
    button {
        margin-right: 30px;
    }
}

.diagnostic-form {
    border-radius: 5px;
    border: 1px solid darken($main-color, 10%);
    padding: 20px;
    flex: 1 0 10%;
    label {
        font-size: 1.2em;
        margin-left: 3px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .error {
        margin-top: 3px;
        margin-left: 3px;
        color: red;
    }
    form > * {
        display: block;
    }
    form > input, select {
        padding: 5px;
    }
    button {
        margin-top: 15px;
    }
}