
.diagnostic-form {
    flex: 0 0 100%;
    label {
        font-size: 1.2em;
        margin-left: 3px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .error {
        margin-top: 3px;
        margin-left: 3px;
        color: red;
    }
    padding: 50px 0;
    & > * {
        display: block;
    }
    & > input, select {
        padding: 5px;
    }
    button {
        margin-top: 15px;
    }
}