@import "styles/variables";

body {
    background-color: $main-color;
    margin: 0;
    padding: 0;
    font-size: 66%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 { 
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p { 
    font-size: 1.2em;
    line-height: 1.35em;
}

a {
    font-size: 1.2em;
}

input, select {
    border: 1px solid rgba(200, 200, 200, 0.5);
    box-shadow: 1px 0 5px rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

input[type="File"] {
    padding: 20px;
    background: darken(#f2f2fe, 2%);
}

button {
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 0.7);
    padding: 7px 12px;
    box-shadow: 1px 0 3px rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    padding-bottom: 30px;
}

#references {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 8px;
    }

}