
body {
    background-color: #f2f2fe;
    margin: 0;
    padding: 0;
    font-size: 66%;
    font-family: Arial, Helvetica, sans-serif;
}


.main-container {
    max-width: 700px;
    margin: 0 auto;
}
